*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header{
    display: flex;
    flex-wrap: wrap;
    background-color: grey;
    height: 20vh;
    width: 100%;
    text-align: center;
    justify-content: center;
    align-content: center;
}

article{
    font-size: 40px;
    font-family: 'Courier New', Courier, monospace;
    background-color: darkcyan ;
    height: 500px;
    width: 100%;
}

footer{
    background-color: orange;
    height: 30vh;
    width: 100%;
}